@using Writa.Models;
@using Writa.Frontend.Models
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters

@inherits Writa.Frontend.Models.WritaViewPage

<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-lg-12">Static
            <h1>@thispage.Post.PostTitle</h1>
            <div>@Html.Raw(GetMarkDown())</div>
        </div>
    </div>
</div>
