    <footer class="site-footer">
        <a class="subscribe" href="@Url.Content("~/rss")"><i class="fa fa-rss"></i><span class="tooltip">RSS</span></a>
        <div class="inner-footer">
             <section class="copyright">Writa Publishing Platform <a href="/">Writa</a> &copy; 2013 &bull; All rights reserved.</section>
             <section class="poweredby">Published in style with <a href="http://writa.org">Writa</a></section>
             <section class="version">@System.Reflection.Assembly.GetAssembly(typeof(Writa.Frontend.MvcApplication)).GetName().Version.ToString(3) </section>
        </div>
    </footer>