@using Writa.Models
@model WritaUser
<form class="form-horizontal" id="adduserform" role="form">
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control required" id="username" name="UserFullName" placeholder="User Name" value="@Model.UserFullName" />
    </div>
  </div>
  <div class="form-group">
    <label for="EmailAddress" class="col-sm-2 control-label">Email Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control required email" id="EmailAddress" name="EmailAddress" placeholder="Email Address" value="@Model.EmailAddress" />
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control required" id="Password" name="Password" placeholder="Password" value="" />
    </div>
  </div>
  <div class="form-group">
    <label for="Password2" class="col-sm-2 control-label">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control required" id="Password2" placeholder="Confirm Password" value="" />
    </div>
  </div>
</form>