@using Writa.Models
@model WritaUser
<form class="form-horizontal" id="changepasswordform" role="form">
  <div class="form-group">
    <label for="NewPassword" class="col-sm-3 control-label">New Password</label>
    <div class="col-sm-9">
      <input type="text" class="form-control required" id="NewPassword" name="NewPassword" placeholder="New Password" value="" />
    </div>
  </div>
  <div class="form-group">
    <label for="ConfirmNewPassword" class="col-sm-3 control-label">Confirm New Password</label>
    <div class="col-sm-9">
      <input type="text" class="form-control required" id="ConfirmNewPassword" name="ConfirmNewPassword" placeholder="Confirm New Password" value="" />
    </div>
  </div>
  <input type="hidden" name="Id" value="@Model.Id" />

</form>