@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}


@section PageJavaScript
{
    <script type="text/javascript"src="@Url.Content("~/Scripts/writa-admin.js")"></script>
}

@if (ViewBag.Sent != null)
{
    if (ViewBag.Sent)
    {
        
    <div class="modal show">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Password Sent</h4>
          </div>
          <div class="modal-body">
            <p>We have sent an email to that address with your new password.</p>
          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->        

}
}
else {

<div class="container" style="padding-top: 15em;">
    <div class="row">
        <div class="col-lg-1"></div>
<div class="col-lg-10">   
    <div class="well" >
        <h3>Writa - Reset Password</h3>
        <p>To reset your password you can use this form to send an email.  For security reasons, you must send the email to the same 
            e-mail address you used when you installed writa for the first time.  If you are unsure about how to edit or check this, please
            checkout the help pages at <a href="http://writa.org">http://writa.org</a>
        </p>
    <form action="/Writa/ResetPassword" method="post" id="resetform" class="form-horizontal" role="form">
         
                <div class="form-group">
                    <label for="email" class="col-lg-4 control-label">Your Email Address</label>
                    <div class="col-lg-8">
                        <input type="text" name="email" id="email" class="email required form-control" />
                    </div>
                </div>      

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-8">
                        <input type="submit" value="Reset Password" id="ResetButton" class="btn btn-primary" />
                        <div>@ViewBag.RegisterError</div>
                        <div id="registererrorarea"></div>
                        @Html.AntiForgeryToken()
                    </div>
                </div>                                                                                
        </form>
    </div>
    </div>
        <div class="col-lg-1"></div>
</div>

</div>

}