@using Writa.Models

@inherits Writa.Frontend.Models.WritaViewPage

    @{
        WritaPluginSetting p = datahelper.GetPluginSettings("Latest Posts", "Number To Display", "2");
        int numbr = int.Parse(p.Value);
    }



    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Latest Posts</div>
      <!-- List group -->
      <ul class="list-group">
    @foreach (var f in datahelper.GetPosts().AsQueryable().Where(w => w.PostType == WritaPostType.BLOGPOST).OrderByDescending(w=>w.PostCreated).Take(numbr))
    {
        <li class="list-group-item"><a href="/@f.PostSlug">@f.PostTitle</a></li>
    }
      </ul>
    </div>  