@using Writa.Models


@inherits Writa.Frontend.Models.WritaViewPage

    @{
        //WritaPluginSetting p = datahelper.GetPluginSettings("Latest Posts", "Number To Display", "2");
        //int numbr = int.Parse(p.Value);
    }

    @foreach (var f in datahelper.GetPosts().AsQueryable().ToList().SelectMany(w => w.PostTags).GroupBy(t => t).Select(t => new { Tag = t.First(), Count = t.Count() }).ToList())
    {
        <div><a href="/tag/@f.Tag">@f.Tag</a></div>
    }